@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #050510;
  --foreground: #ededed;
  --font-rubik: 'Rubik', sans-serif;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

.glass-panel {
  background: rgba(14, 14, 27, 0.7);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.08);
}